/target/
/build/
/node_modules/
/upload-dir/
.DS_Store

### intelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.jdt.core.prefs
.project
.factorypath
.classpath
.vscode/launch.json
.settings/org.eclipse.jdt.apt.core.prefs
